<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="footer.css">
</head>

<body>
    <div class="footer">
        <hr>
        <footer>
            <div class="top-wrapper">
                <div class="user-agreement">
                    <div class="teams">
                        <div class="owner"><span>Owner: <a href="https://discordapp.com/users/355820732489531395" target="_blank" data-bs-toggle="tooltip"
                                    data-bs-placement="right" data-bs-custom-class="footer-tooltip"
                                    data-bs-title="League owner">RevenGe#4119</a></span></div>
                        <div class="web-app"><span>Developer: <a href="https://discordapp.com/users/531548281793150987" target="_blank" data-bs-toggle="tooltip"
                            data-bs-placement="right" data-bs-custom-class="footer-tooltip"
                            data-bs-title="Web Developer">RAJ#3663</a></span></div>
                        <div class="bot-app"><span>Developer: <a href="https://discordapp.com/users/602935588018061453" target="_blank" data-bs-toggle="tooltip"
                            data-bs-placement="right" data-bs-custom-class="footer-tooltip"
                            data-bs-title="Utility Bot Developer">SpooKyHammer#2300</a></span>
                        </div>
                    </div>
                    <div class="tos">
                        <div class="supercell-tos"><span><a href="https://supercell.com/en/terms-of-service/" target="_blank">Supercell Terms of
                                    Service</a></span></div>
                        <div class="safe-fair-play"><span><a href="https://discord.com/terms" target="_blank">Discord Terms of Service</a></span>
                        </div>
                        <div class="wcl-tos"><span><a href="" target="_blank">WCL Terms of Service</a></span></div>
                    </div>
                    <div class="info">
                        <div class="about"><span><a href="" target="_blank">About</a></span></div>
                        <div class="pnp"><span><a href="" target="_blank">Privacy and Policy</a></span></div>
                        <div class="api"><span><a href="" target="_blank">API</a></span></div>
                    </div>
                </div>
            </div>
            <div class="bottom-wrapper">
                <div class="copyright">
                    <a href=""><img src="./src/WCL_new.png" alt="WCL" height="30"></a>
                    <span>
                        &copy; 2023 Warriors Championship League
                    </span>
                </div>
            </div>
        </footer>
    </div>
    <script src="footer.js"></script>
</body>

</html>